

@import "../../global.scss";
.products{
.productwrapper{
    .produttop{}
    .productbottom{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .item{
            width: 200px;
            height: 230px;
            display:flex;
            flex-direction: column;
            padding: 5px;
            border: $border;
            // box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
            cursor: pointer;
            transition: 1s all ease;

            @include mobile{
                width: 45%;
            }

            &:hover{
                transform: scale(1.2);
            }
            
            
            img{
                width:100%;
                height: 160px;
                object-fit: cover;
                
                object-fit: cover;

            }
            .productcontent{
                background-color: $rgb;
                display: flex;
                flex-direction: column;
                padding: 10px;
                background-color: $white;
                span{
                    color: $maincolor;

                }
            }
        }
    }
}
}